<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css_sprint5/chinh_sua_san_pham/global.css">
    <link rel="stylesheet" href="/css_sprint5/chinh_sua_san_pham/index.css">
    <title>chỉnh sửa sản phẩm</title>
</head>
<body>
    <div class="app">
        <div class="grid">
            <div class="grid__row">
                <!--  start top bar -->
                <div class="top-bar">
                    <div class="top-bar__logo">
                        <a href="" class="">
                            <img src="/assets/images/logo.jpg" alt="" class="top-bar__logo-img">
                        </a>
                    </div>
                    <div class="top-bar__title-page">
                        
                        <div class="top-bar__title-page__head-1">
                            <a href="">   Sản phẩm </a>
                        </div>
                        <div class="top-bar__title-page__head-2">
                            Quản lý sản phẩm của bạn
                        </div>
                    </div>
                    <div class="top-bar__profile">
                        <div class="top-bar__profile__noti">
                            <img src="/assets/images/profile__noti__icon.svg" alt="" class="profile__noti__icon">
                        </div>
                        <img src="/assets/images/top-bar__profile__divider.svg" alt="" class="top-bar__profile__divider">
                        <img src="<%= user.avatarUrl %>" style="width: 50px; border-radius: 50%" alt="" class="top-bar__profile__avt">
                        <div class="top-bar__profile__detail">
                            <div class="profile__detail__head-1">
                                <%= user.name %>
                            </div>
                            <div class="profile__detail__head-2">
                                Quản lý cửa hàng
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!--  end top bar -->
                <!-- start side bar -->
                <div class="side-bar col-3">
                    <div class="side-bar__nav">
                        <a href="/admin/manageorder" class="side-bar__nav-container background-white">
                            <img src="/assets/images/side-bar__icon-oder.svg" alt="" class="side-bar__icon side-bar__icon-oder ">
                            <div class="side-bar__nav-container-title text-grey">
                                Đơn hàng
                            </div>
                        </a>
                        <a href="/admin/khachhang" class="side-bar__nav-container background-white">
                            <img src="/assets/images/side-bar__icon-customer.svg" alt="" class="side-bar__icon side-bar__icon-customer">
                            <div class="side-bar__nav-container-title text-grey">
                                Khách hàng
                            </div>
                        </a>
                        <a href="/admin/manageboardgame" class="side-bar__nav-container">
                            <img src="/assets/images/side-bar__icon-product-white.svg" alt="" class="side-bar__icon side-bar__icon-product">
                            <div class="side-bar__nav-container-title ">
                               Sản phẩm
                            </div>
                        </a>
                        <a href="/logout" class="side-bar__logout">
                            <img src="/assets/images/side-bar__logout__icon.svg" alt="" class="side-bar__logout__icon">
                            <div class="side-bar__logout-title">
                                Đăng xuất
                            </div>
                        </a> 
                    </div>
                </div>
                <!--  end side bar -->
                <!--  Start them thong tin san pham -->
                <div class="col-9">
                    <div class="form__container">
                        <form action="">
                            <div class="section-basic-infor">
                                <div class="basic-infor__head-title">Thông tin cơ bản</div>
                                <div class="basic-infor__line"></div>
                                <div class="basic-infor__product-img">
                                    <div class="product-img__title"> Hình ảnh sản phẩm </div>
                                <div class="product-img__container-img">
                                    <div class="product-img__box-container">
                                        <img src="<%= boardgame.image %>" alt="" class="container-img__item">
                                    </div>
                                </div>
                                </div>
                                <div class="basic-infor__product-name">
                                    <div class="product-name__title"> Tên sản phẩm </div>
                                    <div class="product-name__input" type="text" name="name" id="product-name"> <%= boardgame.name %> </div>
                                    <img src="/assets/images/product__icon-edit.svg" alt="" class="product__icon-edit edit-name" onclick="enableEditProductName()">
                                        
                                  </div>
                                  <div class="basic-infor__product-description">
                                    <div class="product-name__title"> Mô tả sản phẩm </div>
                                    <div class="product-description__content" type="text" name="description" id="product-description" contenteditable>
                                        <%= boardgame.description %>
                                    </div>
                                    <img src="/assets/images/product__icon-edit.svg" alt="" class="product__icon-edit edit-description" onclick="enableEditProductDescription()">
        
                                  </div>
                                  <div class="basic-infor__more-infor">
                                    <div class="basic-infor__more-infor__col-1">
                                        <div class="basic-infor__product-cost">
                                            <div class="product-name__title"> Độ tuổi chơi + </div>
                                            <div class="product-quantity__input" type="text" name="ages" id="ages"> <%= boardgame.ages %> </div>
                                            <img src="/assets/images/product__icon-edit.svg" alt="" class="product__icon-edit edit-cost" onclick="enableEditAges()">
                                          </div>  
                                      <div class="basic-infor__product-cost">
                                          <div class="product-name__title"> Người chơi tối đa</div>
                                          <div class="product-quantity__input" type="text" name="playerMax" id="playerMax"> <%= boardgame.playerMax %></div>
                                          <img src="/assets/images/product__icon-edit.svg" alt="" class="product__icon-edit edit-cost" onclick="enableEditPlayerMax()">
                                      </div> 
                                      <div class="basic-infor__product-cost">
                                        <div class="product-name__title"> Người chơi tối thiểu</div>
                                        <div class="product-quantity__input" type="text" name="playerMin" id="playerMin"> <%= boardgame.playerMin %> </div>
                                        <img src="/assets/images/product__icon-edit.svg" alt="" class="product__icon-edit edit-cost" onclick="enableEditPlayerMin()">
                                    </div>
                                    </div>
                                    <div class="basic-infor__more-infor__col-1"> 
                                          <div class="basic-infor__product-cost">
                                            <div class="product-name__title"> Thời lượng (phút)</div>
                                            <div class="product-quantity__input" type="text" name="length" id="length"> <%= boardgame.length %></div>
                                            <img src="/assets/images/product__icon-edit.svg" alt="" class="product__icon-edit edit-cost" onclick="enableEditLength()">
                                        </div> 
                                          <div class="basic-infor__product-cost">
                                              <div class="product-name__title"> Giá thuê 7 ngày </div>
                                              <div class="product-quantity__input" type="text" name="price" id="product-cost"> <%= boardgame.price %></div>
                                              <img src="/assets/images/product__icon-edit.svg" alt="" class="product__icon-edit edit-cost" onclick="enableEditProductCost()">
                                          </div> 
                                          <div class="basic-infor__product-quantity">
                                            <div class="product-name__title"> Số lượng sản phẩm </div>
                                            <div class="product-quantity__input" type="text" name="quantity" id="product-quantity"> 250 </div>
                                            <img src="/assets/images/product__icon-edit.svg" alt="" class="product__icon-edit edit-quantity" onclick="enableEditProductQuantity()" >
                                          </div>
                                      </div>
                                    </div>
                                 <button class="basic-infor__btn-save">
                                    <div class="btn-save"> Cập nhật </div>
                                 </button>  
                            </div>
                        </form>
                    </div>
                </div>
             <!--  Start them thong tin san pham -->
            </div>
        </div>
    </div>

    <script src="/css_sprint5/chinh_sua_san_pham/main.js"></script>
</body>
</html>