<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css_sprint5/quan_ly_khach_hang/global.css">
    <link rel="stylesheet" href="/css_sprint5/quan_ly_khach_hang/index.css">
    <title>Quản lý khách hàng</title>
</head>
<body>
    <div class="app">
        <div class="grid">
            <div class="grid__row">
                <!--  start top bar -->
                <div class="top-bar">
                    <div class="top-bar__logo">

                        <a href="/admin/manageorder" class="">

                            <img src="/assets/images/logo.jpg" alt="" class="top-bar__logo-img">
                        </a>
                    </div>
                    <div class="top-bar__title-page">
                        
                        <div class="top-bar__title-page__head-1">

                            <a href=""> Khách hàng </a>
                        </div>
                        <div class="top-bar__title-page__head-2">
                            Quản lý khách hàng của bạn

                        </div>
                    </div>
                    <div class="top-bar__profile">
                        <div class="top-bar__profile__noti">
                            <img src="/assets/images/profile__noti__icon.svg" alt="" class="profile__noti__icon">
                        </div>
                        <img src="/assets/images/top-bar__profile__divider.svg" alt="" class="top-bar__profile__divider">
                        <img src="<%= user.avatarUrl %>" style="width: 50px; border-radius: 50%" alt="" class="top-bar__profile__avt">
                        <div class="top-bar__profile__detail">
                            <div class="profile__detail__head-1">
                                <%= user.name %>
                            </div>
                            <div class="profile__detail__head-2">
                                Quản lý cửa hàng
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!--  end top bar -->

                <!-- start side bar -->
                <div class="side-bar col-3">
                    <div class="side-bar__nav">
                        <a href="/admin/manageorder" class="side-bar__nav-container background-white">
                            <img src="/assets/images/side-bar__icon-oder.svg" alt="" class="side-bar__icon side-bar__icon-oder ">
                            <div class="side-bar__nav-container-title text-grey">
                                Đơn hàng
                            </div>
                        </a>
                        <a href="/admin/managecustomer" class="side-bar__nav-container">

                            <img src="/assets/images/side-bar__icon-customer.svg" alt="" class="side-bar__icon side-bar__icon-customer">

                            <div class="side-bar__nav-container-title">
                                Khách hàng
                            </div>
                        </a>
                        <a href="/admin/manageboardgame" class="side-bar__nav-container background-white">
                            <img src="/assets/images/side-bar__icon-product.svg" alt="" class="side-bar__icon side-bar__icon-product">
                            <div class="side-bar__nav-container-title text-grey">
                               Sản phẩm
                            </div>
                        </a>
                        <a href="/logout" class="side-bar__logout">
                            <img src="/assets/images/side-bar__logout__icon.svg" alt="" class="side-bar__logout__icon">
                            <div class="side-bar__logout-title">
                                Đăng xuất
                            </div>
                        </a> 
                    </div>
                </div>
                <!--  end side bar -->


                  <!--  start customer list  7 item  -->
                <div class="list-oder-section col-9">

                    <div class="search-bar">
                        <form class="search-bar__form" action="/admin/managecustomer/" method="GET">
                            <input class="search-bar__input" type="text" name="customerId" placeholder="Nhập ID khách hàng">
                            <button class="search-bar__btn" type="submit">
                                <img src="/assets/images/header__search-icon.svg" alt="">
                            </button>
                        </form>
                    </div>

                    <div class="list-oder__container">
                        <div class="list-oder__sort">
                            <div class="list-oder__sort-title sort-title--active  " style="margin-right: -30px;" > Tất cả
                            <div class="sort-title__divider"></div>
                            </div>
                        </div>
                        <div class="list-oder__line-table"></div>
                        <div class="list-oder__title-table">
                            <div class="list-oder__title-table-id list-oder__col-1 ">ID</div>
                            <div class="list-oder__title-table-name list-oder__col-3">Tên khách hàng</div>
                            <div class="list-oder__title-table-date list-oder__col-2">Ngày tham gia </div>
                            <div class="list-oder__title-table-tel list-oder__col-1-1">Số điện thoại </div>
                            <div class="list-oder__title-table-email list-oder__col-1-2">Email  </div>
                            
                        </div>
                        <div class="list-oder__line-table"></div>
                        <div class="list-oder__flex-box">
                            <!--  1 customer start -->
                            <% cusPage.forEach((cus) => { %>
                            <div class="list-oder__oder-line">
                                <div class="list-oder__oder-info">
                                    <a href="" class="oder-info__id list-oder__col-1"><%= cus.Id %></a>
                                    <div class="oder-info__product list-oder__col-3">
                                        <a href="">
                                            <img src="<%= cus.avatarUrl%>" alt="" class="oder-info__product-img">
                                        </a>
                                        <div class="oder-info__product__text">
                                            <a href="" class="product__text-title"> 
                                                <%= cus.name %> 
                                            </a>
                                        </div>
                                    </div>
                                    <div class="oder-info__date list-oder__col-2">
                                        <div class="oder-info__date-day"> <%= cus.createdAt %> </div>
                                        <!-- <div class="oder-info__date-time"> 13:00 PM</div> -->
                                    </div>
                                    <div class="oder-info__customer list-oder__col-1-1"> <%= cus.tel %> </div>
                                    <div class="oder-info__cost list-oder__col-1-2 "> <%= cus.email %> </div>
                                    <div class="oder-info__icon">
                                        <a href="/admin/managecustomer/<%= cus._id %>" class="oder-info__edit">
                                            <img src="/assets/images/oder-info__eye-icon.svg" alt="" class="oder-info__edit-icon">
                                        </a>
                                    </div>
                                </div>
                                <div class="oder-info__line-end"></div>
                            </div>
                            <% }) %>
                            <!-- customer end  -->


                            <!-- Phân trang -->
                            <div class="pagination">
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                    <a href="/admin/manageboardgame?page=<%= i %>" class="<%= currentPage == i ? 'active' : '' %>">
                                        <%= i %>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  end customer list  -->

            </div>
        </div>

        <% if (flash.errorMessages && flash.errorMessages.length > 0) { %>
            <script>
                alert('<%= flash.errorMessages[0] %>');
            </script>
        <% } %>

    </div>
</body>
</html>