<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css_sprint5/quan_ly_don_hang/global.css">
    <link rel="stylesheet" href="/css_sprint5/quan_ly_don_hang/index.css">
    <title>Quản lý đơn hàng</title>
</head>
<body>
    <div class="app">
        <div class="grid">
            <div class="grid__row">
                <!--  start top bar -->
                <div class="top-bar">
                    <div class="top-bar__logo">
                        <a href="" class="">
                            <img src="/assets/images/logo.jpg" alt="" class="top-bar__logo-img">
                        </a>
                    </div>
                    <div class="top-bar__title-page">
                        
                        <div class="top-bar__title-page__head-1">
                            <a href="">   Sản phẩm </a>
                        </div>
                        <div class="top-bar__title-page__head-2">
                            Quản lý sản phẩm của bạn
                        </div>
                    </div>
                    <div class="top-bar__profile">
                        <div class="top-bar__profile__noti">
                            <img src="/assets/images/profile__noti__icon.svg" alt="" class="profile__noti__icon">
                        </div>
                        <img src="/assets/images/top-bar__profile__divider.svg" alt="" class="top-bar__profile__divider">
                        <img src="<%= user.avatarUrl %>" style="width: 50px; border-radius: 50%" alt="" class="top-bar__profile__avt">
                        <div class="top-bar__profile__detail">
                            <div class="profile__detail__head-1">
                                <%= user.name %>
                            </div>
                            <div class="profile__detail__head-2">
                                Quản lý cửa hàng
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!--  end top bar -->

                <!-- start side bar -->
                <div class="side-bar col-3">
                    <div class="side-bar__nav">
                        <a href="/admin/manageorder" class="side-bar__nav-container">
                            <img src="/assets/images/side-bar__icon-oder-white.svg" alt="" class="side-bar__icon side-bar__icon-oder ">
                            <div class="side-bar__nav-container-title ">
                                Đơn hàng
                            </div>
                        </a>
                        <a href="/admin/managecustomer" class="side-bar__nav-container background-white">
                            <img src="/assets/images/side-bar__icon-customer.svg" alt="" class="side-bar__icon side-bar__icon-customer">
                            <div class="side-bar__nav-container-title text-grey">
                                Khách hàng
                            </div>
                        </a>
                        <a href="/admin/manageboardgame" class="side-bar__nav-container background-white">
                            <img src="/assets/images/side-bar__icon-product.svg" alt="" class="side-bar__icon side-bar__icon-product">
                            <div class="side-bar__nav-container-title text-grey">
                               Sản phẩm
                            </div>
                        </a>
                        <a href="/logout" class="side-bar__logout">
                            <img src="/assets/images/side-bar__logout__icon.svg" alt="" class="side-bar__logout__icon">
                            <div class="side-bar__logout-title">
                                Đăng xuất
                            </div>
                        </a> 
                    </div>
                </div>
                <!--  end side bar -->

                <div class="list-oder-section col-9">
                    <div class="list-oder__container">
                        <div class="list-oder__sort">
                            <div class="list-oder__sort-title sort-title--active  " style="margin-right: -30px;" > Tất cả
                            <div class="sort-title__divider"></div>
                            </div>
                            <div class="list-oder__sort-title"> Đợi đến lấy </div>
                            <div class="list-oder__sort-title"> Đến hạn trả </div>
                            <div class="list-oder__sort-title"> Quá hạn trả </div>
                            <div class="list-oder__sort-title"> Đơn huỷ </div>
                        </div>
                        <div class="list-oder__line-table"></div>
                        <div class="list-oder__title-table">

                            <div class="list-oder__title-table-id list-oder__col-1 ">ID</div>
                            <div class="list-oder__title-table-product list-oder__col-3">Sản Phẩm</div>
                            <div class="list-oder__title-table-date list-oder__col-2">Ngày Đặt Thuê</div>
                            <div class="list-oder__title-table-customer list-oder__col-1-1">Khách Hàng</div>
                            <div class="list-oder__title-table-cost list-oder__col-1-2">Đơn Giá</div>
                            <div class="list-oder__title-table-status list-oder__col-2">Trạng Thái</div>
                        </div>
                        <div class="list-oder__line-table"></div>

                        <!--  list oder 8 item  -->
                        <div class="list-oder__flex-box">
                           <!--  1 oder start -->
                           <!-- Vòng lặp để hiển thị danh sách đơn hàng -->
                            <% ordersPage.forEach((order) => { %>
                                <div class="list-oder__oder-line">
                                    <div class="list-oder__oder-info">
                                    <a href="#" class="oder-info__id list-oder__col-1"><%= order._id %></a>
                                    <div class="oder-info__product list-oder__col-3">
                                        <% const game = boardgames.find((boardgame) => boardgame._id.toString() === order.productId.toString()); %>
                                        <a href="#">
                                        <img src="<%= game.imageUrl %>" alt="" class="oder-info__product-img">
                                        </a>
                                        <div class="oder-info__product__text">
                                        <a href="#" class="product__text-title">
                                            <%= game.name %>
                                        </a>
                                        <div class="product__text-quantity">SL: <%= order.quantity %></div>
                                        </div>
                                    </div>
                                    <div class="oder-info__date list-oder__col-2">
                                        <div class="oder-info__date-day"><%= order.createdAt %></div>
                                    </div>
                                    <a href="#" class="oder-info__customer list-oder__col-1-1">
                                        <% // Tìm khách hàng tương ứng với order.customerId %>
                                        <% const customer = users.find((user) => user._id.toString() === order.customerId.toString()); %>
                                        <%= customer ? customer.name : '' %> <% // Hiển thị tên khách hàng nếu có, nếu không hiển thị chuỗi rỗng %>
                                    </a>                                            
                                    <div class="oder-info__cost list-oder__col-1-2"><%= order.totalPrice.toLocaleString('vi-VN') %></div> 
                                    <div class="oder-info__status list-oder__col-2">
                                        <% let orderStatus = '';
                                        switch(order.orderStatus) {
                                            case 1: orderStatus = 'Chưa thanh toán'; break;
                                            case 2: orderStatus = 'Đang thuê'; break;
                                            case 3: orderStatus = 'Đến hạn trả'; break;
                                            case 4: orderStatus = 'Đã trả'; break;
                                        } %>
                                        <div class="oder-info__status-btn status-btn--due">
                                            <%= orderStatus %>
                                        </div>
                                    </div>
                                    <a href="/admin/orderdetail/<%= order._id %>" class="oder-info__edit">
                                        <img src="/assets/images/oder-info__eye-icon.svg" alt="" class="oder-info__edit-icon">
                                    </a>
                                    </div>
                                    <div class="oder-info__line-end"></div>
                                </div>
                            <% }); %>
                            <!-- oder end -->
                            

                             <!-- Phân trang -->
                            <div class="pagination">
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                    <a href="/admin/manageorder?page=<%= i %>" class="<%= currentPage == i ? 'active' : '' %>">
                                        <%= i %>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>