<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css_sprint1/global.css" />
    <link rel="stylesheet" href="css_sprint1/index.css" />
    <link rel="stylesheet" href="css_sprint1/responsive.css">
    <title>Cửa hàng</title>

</head>
<body>
    <div class="app">
        
       <!-- Header -->
        <%- include('../partials/header_store.ejs'); -%>

      <!-- thanh cong cu loc  -->
      <div class="sort-section">
        <div class="grid ">
            <div class="grid_row sort-section__content ">

                <a href="/store" class=" <%= boardgames === 'all' ? 'sort-section__name--active' : 'sort-section__name' %>"> Boardgame</a>
               
                <a href="/store?boardgames=newest" class="<%= boardgames === 'newest' ? 'sort-section__name--active' : 'sort-section__name' %>">Mới Nhất </a>
                
            </div>
        </div>
    </div>
    
    <div class="container-section">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__colum-2">
                    <form action="">
                        <div class="filter-category">
                            <div class="filter-title-head">
                                <div class="filter-name filter-name-col-1">Bộ lọc</div>      
                            </div>
                            <svg class="retangle-filter" width="230" height="2" viewBox="0 0 230 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="230" height="2" fill="#002144"/>
                                </svg>
                                <!--  Giá start  -->
                            <div class="filter-category__player">
                                <div class="filter-title">
                                    <div class="playingtime filter-name-col-1">Giá đặt thuê</div>
                                    <div class="filter-title__hide filter-name-col-2 ">
                                        <div class="rectangle-playingtime-1"></div>
                                    </div>
                                </div>
                                <div class="filter-playingtime-content">
                                    <div class="filter-playingtime-content-line">
                                        <div class="filter__line">
                                            <input type="radio" name="price" value="1" id="price_1">
                                            <label for="price_1"> 
                                                <div class="label__title">Từ thấp đến cao</div> 
                                            </label>
                                        </div>
                                        <div class="filter__line">
                                            <input type="radio" name="price" value="2" id="price_2">
                                            <label for="price_2">
                                                <div class="label__title">Từ cao đến thấp</div> 
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="/assets/images/filter__retangle-small.svg" alt="" class="filter__retangle-small">
                            
                            <!--  Giá end  -->
                            <!--  Số người chơi tối đa start  -->
                            <div class="filter-category__player">
                                <div class="filter-title">
                                    <div class="playingtime filter-name-col-1">Số người chơi tối đa</div>
                                    <div class="filter-title__hide filter-name-col-2 ">
                                        <div class="rectangle-playingtime-1"></div>
                                    </div>
                                </div>
                                <div class="filter-playingtime-content">
                                    <div class="filter-playingtime-content-line">
                                        <div class="filter__line">
                                            <input type="radio" name="max_players" value="1" id="max_players_1">
                                            <label for="max_players_1"> 
                                                <div class="label__title">2 người chơi</div> 
                                            </label>
                                        </div>
                                        <div class="filter__line">
                                            <input type="radio" name="max_players" value="2" id="max_players_2">
                                            <label for="max_players_2">
                                                <div class="label__title">3 người chơi</div> 
                                            </label>
                                        </div>
                                        <div class="filter__line">
                                            <input  type="radio" name="max_players" value="4" id="max_players_4">
                                            <label  for="max_players_4">
                                                <div class="label__title">4 người chơi</div> 
                                            </label> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img src="/assets/images/filter__retangle-small.svg" alt="" class="filter__retangle-small">
                            
                            <!--  Số người chơi tối đa end  -->
                            <!--  Số người chơi tối thiểu start  -->
                            <div class="filter-category__player">
                                <div class="filter-title">
                                    <div class="playingtime filter-name-col-1">Số người chơi tối thiểu</div>
                                    <div class="filter-title__hide filter-name-col-2 ">
                                        <div class="rectangle-playingtime-1"></div>
                                    </div>
                                </div>
                                <div class="filter-playingtime-content">
                                    <div class="filter-playingtime-content-line">
                                        <div class="filter__line">
                                            <input type="radio" name="min_players" value="1" id="min_players_1">
                                            <label for="min_players_1"> 
                                                <div class="label__title">2 người chơi</div> 
                                            </label>
                                        </div>
                                        <div class="filter__line">
                                            <input type="radio" name="min_players" value="2" id="min_players_2">
                                            <label  for="min_players_2">
                                                <div class="label__title">3 người chơi</div> 
                                            </label>
                                        </div>
                                        <div class="filter__line">
                                            <input  type="radio" name="min_players" value="4" id="min_players_4">
                                            <label  for="min_players_4">
                                                <div class="label__title">4 người chơi</div> 
                                            </label> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            <img src="/assets/images/filter__retangle-small.svg" alt="" class="filter__retangle-small">
                            <!--  Số người chơi tối thiểu end  -->
                           
                            <!--  Thời gian chơi start  -->
                           <div class="filter-category__player">
                            <div class="filter-title">
                                <div class="playingtime filter-name-col-1">Thời gian chơi</div>
                                <div class="filter-title__hide filter-name-col-2 ">
                                    <div class="rectangle-playingtime-1"></div>
                                </div>
                            </div>
                            <div class="filter-playingtime-content">
                                <div class="filter-playingtime-content-line">
                                    <div class="filter__line">
                                        <input type="radio" name="playing_time" value="1" id="playing_time_1">
                                        <label  for="playing_time_1"> 
                                            <div class="label__title"> Tối đa 15 phút</div> 
                                        </label>
                                    </div>
                                    <div class="filter__line">
                                        <input type="radio" name="playing_time" value="2" id="playing_time_2">
                                        <label  for="playing_time_2">
                                            <div class="label__title">Tối đa 30 phút</div> 
                                        </label>
                                    </div>
                                    <div class="filter__line">
                                        <input  type="radio" name="playing_time" value="4" id="playing_time_4">
                                        <label  for="playing_time_4">
                                            <div class="label__title">Tối đa 40 phút</div> 
                                        </label> 
                                    </div>
                                    <div class="filter__line">
                                        <input  type="radio" name="playing_time" value="5" id="playing_time_5">
                                        <label  for="playing_time_5">
                                            <div class="label__title">Tối đa 60 phút</div> 
                                        </label> 
                                    </div>
                                    <div class="filter__line">
                                        <input  type="radio" name="playing_time" value="6" id="playing_time_6">
                                        <label  for="playing_time_6">
                                            <div class="label__title">Nhiều hơn 90 phút</div> 
                                        </label> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="/assets/images/filter__retangle-small.svg" alt="" class="filter__retangle-small">
                        
                        <!--  Thời gian chơi end  -->
                            
                                <!--  Tuổi chơi start  -->
                           <div class="filter-category__player">
                            <div class="filter-title">
                                <div class="playingtime filter-name-col-1">Độ tuổi </div>
                                <div class="filter-title__hide filter-name-col-2 ">
                                    <div class="rectangle-playingtime-1"></div>
                                </div>
                            </div>
                            <div class="filter-playingtime-content">
                                <div class="filter-playingtime-content-line">
                                    <div class="filter__line">
                                        <input type="radio" name="age" value="1" id="age_1">
                                        <label  for="age_1"> 
                                            <div class="label__title">Từ 3 tuổi</div> 
                                        </label>
                                    </div>
                                    <div class="filter__line">
                                        <input type="radio" name="age" value="2" id="age_2">
                                        <label  for="age_2">
                                            <div class="label__title">Từ 5 tuổi</div> 
                                        </label>
                                    </div>
                                    <div class="filter__line">
                                        <input  type="radio" name="age" value="4" id="age_4">
                                        <label  for="age_4">
                                            <div class="label__title">Từ 8 tuổi</div> 
                                        </label> 
                                    </div>
                                    <div class="filter__line">
                                        <input  type="radio" name="age" value="5" id="age_5">
                                        <label  for="age_5">
                                            <div class="label__title">Từ 15 tuổi</div> 
                                        </label> 
                                    </div>
                                    <div class="filter__line">
                                        <input  type="radio" name="age" value="6" id="age_6">
                                        <label  for="age_6">
                                            <div class="label__title">Trên 18 tuổi</div> 
                                        </label> 
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        
                        <!--  Tuổi chơi end  -->
    




                         </div>
                        </div>
                    </form>
                    <div class=" grid__colum-10">
                        <div class="tf-sort">
                            <b class="tf-sort__quantity" style=" margin-top: 10px; "> <%= boardgamesCount %> 
                               <div>Items</div> 
                            </b>
                        </div>
                        <div class="product-section__flex-box">
                            <div class="product-section grid__row">
                                      <!-- San pham -->
                                <% boardgames.forEach((boardgame) => { %>
                                    <div class="product-section__item-shop col-4">
                                        <a href="store/<%= boardgame._id %>">
                                            <img src="<%= boardgame.imageUrls[0] %>" alt="<%= boardgame.name %>" class="item-shop__image-product">
                                        </a>
                                        <a href="store/<%= boardgame._id %>" class="item-shop__title-product"><%= boardgame.name %></a>
                                        <div class="item-shop__rent">
                                            <b class="item-shop__rent__title">Giá Thuê</b>
                                            <b class="item-shop__rent__cost"><%= boardgame.price.toLocaleString('vi-VN') %> đ</b>
                                        </div>
                                        
                                        <% let rentLink = (boardgame.quantity > 0) ? '/store/order/' + boardgame._id + '?duration=7&quantity=1' : ''; %>
                                        <a href="<%= rentLink %>">
                                            <div class="item-shop__rent-btn">
                                                <b class="item-shop__rent-btn__title">Thuê ngay</b>
                                            </div>
                                        </a>
                                    </div>
                                    <% }) %>
                                    <!-- end 1 sản phẩm  -->
                            </div> 
                             <!-- Phân trang -->
                             <div class="pagination">
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                    <a href="/store?page=<%= i %>" class="<%= currentPage == i ? 'active' : '' %>">
                                        <%= i %>
                                    </a>
                                <% } %>
                            </div>                     
                        </div>
                    </div>
                </div>
               

                
            </div>
        </div>
    
    <!-- Footer -->
    <%- include('../partials/footer.ejs'); -%>
</div>
    


</body>
</html>