<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= boardgame.name %></title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="../global.css">
</head>
<body>

    <!-- Header -->
    <%- include('../partials/header.ejs'); -%>

    <div class="col-lg-9">
        <h2><%= boardgame.name %></h2>
        <img src="<%= boardgame.image %>" alt="<%= boardgame.name %>">
        <p><%= boardgame.description %></p>
    </div>

    <!--  footer  -->
    <%- include('../partials/footer.ejs'); -%>

</body>
</html>