<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./public/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css_sprint2/global.css" />
    <link rel="stylesheet" href="/css_sprint2/index.css" />
    <link rel="stylesheet" href="/css_sprint2/responsive.css">

    <title><%= boardgame.name %></title>
</head>
<body>
    <div class="app">
        <!-- Header -->
        <%- include('../partials/header_store.ejs'); -%>

        <div class="header-end"></div>
        <div class="container-section">
            <!-- Hien thi anh va gia san pham -->
            <div class="single-item">
                <div class="grid">
                    <div class="grid__row">
                        <div class="nav-status">
                            <a href="https://courses.uit.edu.vn/login/index.php" class="nav-status__page">Cửa hàng</a>
                            <div class="nav-status__page__link">::</div>
                            <a href="https://courses.uit.edu.vn/login/index.php" class="nav-status__page nav-status__page--now">Azul Mini</a>
                        </div>
                        <div class="grid__colum-1">
                            <div class="small-img">
                                <img src="<%= boardgame.image %>" alt="" class="small-img__img border-img" onclick="swapImageClasses(this)">
                                <img src="<%= boardgame.image1 %>" alt="" class="small-img__img opacity-img" onclick="swapImageClasses(this)">
                                <img src="<%= boardgame.image2 %>" alt="" class="small-img__img opacity-img" onclick="swapImageClasses(this)">
                            </div>
                        </div>
                        <div class="grid__colum-6">
                            <div class="large-img">
                                <img src="<%= boardgame.image %>" alt="" id="large-img__img">
                            </div>
                        </div>
                        <div class="infor-product grid__colum-5">
                            <div class="info">
                                <div class="info__title"><%= boardgame.name %></div>
                            </div>
                            <div class="rental">
                                <div class="rental__rent">Giá Thuê:</div>
                                <div class="rental__price"><%= formattedPrice %> đ</div>
                                <div class="rental__remain">20+ còn lại</div>
                            </div>
                            <form action="" >
                                <div class="quantity-btn   quantity-btn__rental-time ">
                                    <div class="quantity-btn__rental-time__title"> Số ngày thuê: </div>
                                    <select id="booking-duration" class="rental-time-select">
                                        <option value="7">7 </option>
                                        <option value="14">14 </option>
                                        <option value="30">30  </option>
                                        <option value="60">60 </option>
                                    </select>
                                </div>
                                <div class="button-rent">
                                    <div class="button-rent__quantity">
                                        <div class="button-rent__increase" >
                                            <img src="/assets/images/button-rent__increase.svg" alt="" >
                                        </div>
                                        <div class="button-rent__decrease">
                                            <img src="/assets/images/button-rent__decrease.svg" alt="" >
                                        </div>
                                        <input class=" button-rent__quantityInput " type="number" min=" 1 "    value="1" readonly>
                                    </div>
                                </div>
                                <button class="ren-btn">
                                    <a href="" class="ren-btn__title"> Đặt thuê  </a>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="grid__row">
                        <div class="product-information__title">
                            <div class="product-information__title__head">
                                <svg class="product-information__title__retangle" width="5" height="25" viewBox="0 0 5 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 0H5V25H0V12.5V0Z" fill="#002144"/>
                                    </svg>
                                <div class="product-information__title__content">  Thông tin sản phẩm </div>   
                            </div>
                        <div class="product-information__content">
                            <p><%- boardgame.description.replace(/\n/g, '<br>') %></p>
                        </div>
                    </div>

                    <!-- Script giới hạn nhập liệu ô số lượng   -->
                    <script>
                        //  tăng giảm số lượng bằng cách click 
                                    // Lấy các phần tử từ DOM
                            const decreaseButton = document.querySelector('.button-rent__decrease');
                            const increaseButton = document.querySelector('.button-rent__increase');
                            var quantityInput = document.querySelector('.button-rent__quantityInput');

                            // Xử lý sự kiện khi click vào nút giảm
                            decreaseButton.addEventListener('click', function() {
                                // Giảm giá trị số lượng
                                let quantity = parseInt(quantityInput.value);
                                if (quantity > 1) {
                                    quantity--;
                                    quantityInput.value = quantity;
                                }
                            });

                            // Xử lý sự kiện khi click vào nút tăng
                            increaseButton.addEventListener('click', function() {
                                // Tăng giá trị số lượng
                                let quantity = parseInt(quantityInput.value);
                                quantity++;
                                quantityInput.value = quantity;
                            });

                    </script>

                    <script>
                        // Hàm chuyển ảnh
                        function swapImageClasses(img) {
                            const largeImg = document.getElementById('large-img__img');
                            const smallImgs = document.querySelectorAll('.small-img__img');

                            smallImgs.forEach(smallImg => {
                                smallImg.classList.remove('border-img');
                                smallImg.classList.add('opacity-img');
                            });

                            img.classList.remove('opacity-img');
                            img.classList.add('border-img');

                            largeImg.src = img.src;
                        }

                        // Nhận các phần tử được chọn và nhập từ DOM
                        var durationSelect = document.getElementById('booking-duration');
                        var quantityInput = document.querySelector('.button-rent__quantityInput');

                        // Lắng nghe sự kiện nhấp vào nút "Đặt thuê"
                        const rentButton = document.querySelector('.ren-btn__title');
                        rentButton.addEventListener('click', function (event) {
                            event.preventDefault();

                            // Nhận thời hạn thuê và số lượng đã chọn
                            const durationValue = durationSelect.value;
                            const quantityValue = quantityInput.value;

                            // Tạo một URL mới với các thông số về thời lượng thuê và số lượng
                            const orderURL = `/store/order/<%= boardgame._id %>?duration=${durationValue}&quantity=${quantityValue}`;

                            // Chuyển hướng đến trang đặt hàng với URL mới
                            window.location.href = orderURL;
                        });
                    </script>

                    <!--  san pham tuong tu  -->
                    <div class="similar-content">
                        <div class="similar-product__title">
                            <svg class="similar-product__title__retangle" width="5" height="25" viewBox="0 0 5 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0H5V25H0V12.5V0Z" fill="#002144"/>
                                </svg>
                            <div class="btn-next__title__content">  Sản phẩm tương tự </div>   
                        </div>
                        <div class="btn-next">
                            <button class="btn-next__back">
                                <img src="/assets/images/btn-next__back.svg" alt="">
                            </button>
                            <button class="btn-next__next">
                                <img src="/assets/images/btn-next__next.svg" alt="" >
                            </button>
                        </div>
                        <!-- <img src="/assets/images/similar-product__btn-next.svg" alt="" class="btn-next"> -->
                        <div class="similar-item">
                    <!-- item  -->
                            <% boardgames.forEach((boardgame) =>{ %>
                                <div class=" product-section__item-shop col-4">
                                    <div class="item-shop__favourite">
                                        <div class="item-shop__favourite__content">
                                            <img src="/assets/images/-icon-heart1.svg" alt="" class="item-shop__icon-heart">
                                            <b class="item-shop__likes">99</b>
                                        </div>
                                    </div>
                                    <a href="/store/<%= boardgame._id %>">
                                        <img src="<%= boardgame.image %>" alt=" <%= boardgame.name %> " class="item-shop__image-product">
                                    </a>
                                    <a href="/store/<%= boardgame._id %>" class="item-shop__title-product"> <%= boardgame.name %>  </a>
                                    <div class="item-shop__rent">
                                        <b class="item-shop__rent__title"> Giá Thuê</b>
                                        <b class="item-shop__rent__cost"><%= boardgame.price %></b>
                                    </div>
                                    
                                    <div class="item-shop__rent-btn">
                                        <b class="item-shop__rent-btn__title">Thuê ngay</b>
                                    </div>
                                </div>
                            <%}) %>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Footer -->
        <%- include('../partials/footer.ejs'); -%>
    </div>
</div>
</body>
</html>
