<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./public/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css_sprint4/css_chinhsuakhachhang/global.css" />
    <link rel="stylesheet" href="/css_sprint4/css_chinhsuakhachhang/index.css" />
   
    
   <title> <%= user.name %> </title>
</head>
<body>
    <div class="app">


        <!-- Header -->
        <%- include('../partials/header_info.ejs'); -%>
        

       <div class="header-end"></div>
       <div class="container-section">
        
            <div class="cus-profile">
                <div class="grid">
                    <div class="grid__row">
                        <!-- khung dieu huong  -->
                        <div class="navigation-left cus-profile__col-3">
                            <div class="navigation-left__container">
                                <div class="navigation-left__avatar">
                                    <a href="/user/profile">
                                        <img class="navigation-left__avata__img" src="<%= user.avatarUrl %>" style="width: 45px; height: 50px; border-radius: 50%" alt="">
                                    </a>
                                    <div class="navigation-left__avatar__content">
                                        <a href="/user/profile">
                                            <div class="avatar__content__name"> <%= user.name %> </div>
                                        </a>
                                        <a href="/logout" class="avatar__content__logout">
                                            <img src="/assets/images/icon__logout.svg" alt="" class="edit-profile__icon-logout">                                     
                                          <span class="avatar__content__edit-profile__title"> Đăng xuất </span>
                                        </a> 
                                    </div>
                                    <svg class="navigation-left__retangle-end" width="272" height="2" viewBox="0 0 272 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="272" height="2" fill="#002144" fill-opacity="0.5"/>
                                        </svg>
                                </div>

                                <div class="navigation-left__function">
                                    <a href="  " class="navigation-left__function-title">
                                    <div class="function-title__icon-profile">
                                        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.4" d="M15 30C23.2842 30 30 23.2843 30 15C30 6.71573 23.2842 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#002144"/>
                                            <path d="M15 7.3949C11.895 7.3949 9.375 9.9149 9.375 13.0198C9.375 16.0648 11.76 18.5398 14.925 18.6298H15.06H15.165H15.195C18.225 18.5248 20.61 16.0648 20.625 13.0198C20.625 9.9149 18.105 7.3949 15 7.3949Z" fill="#002144"/>
                                            <path d="M25.1711 26.025C22.5011 28.485 18.9311 30 15.0011 30C11.0711 30 7.50106 28.485 4.83105 26.025C5.19105 24.66 6.16606 23.415 7.59106 22.455C11.6861 19.725 18.3461 19.725 22.4111 22.455C23.8511 23.415 24.8111 24.66 25.1711 26.025Z" fill="#002144"/>
                                            </svg>                                            
                                    </div>
                                    <div class="function-title function-title__active"> Hồ sơ của tôi </div>
                                </a>
                                    
                                   <a href="" class="navigation-left__function-title">
                                    <div class="function-title__icon-profile">
                                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2 2H4.17501C5.52501 2 6.5875 3.1625 6.475 4.5L5.4375 16.95C5.2625 18.9875 6.87499 20.7375 8.92499 20.7375H22.2375C24.0375 20.7375 25.6125 19.2625 25.75 17.475L26.425 8.1C26.575 6.025 25 4.3375 22.9125 4.3375H6.77501" stroke="#002144" stroke-width="3.95719" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M19.8125 27C20.6755 27 21.375 26.3005 21.375 25.4375C21.375 24.5745 20.6755 23.875 19.8125 23.875C18.9495 23.875 18.25 24.5745 18.25 25.4375C18.25 26.3005 18.9495 27 19.8125 27Z" stroke="#002144" stroke-width="3.95719" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M9.8125 27C10.6755 27 11.375 26.3005 11.375 25.4375C11.375 24.5745 10.6755 23.875 9.8125 23.875C8.94955 23.875 8.25 24.5745 8.25 25.4375C8.25 26.3005 8.94955 27 9.8125 27Z" stroke="#002144" stroke-width="3.95719" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M10.75 9.5H25.75" stroke="#002144" stroke-width="3.95719" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>                                           
                                    </div>
                                    <div class="function-title"> Lịch sử thuê </div>
                                   </a>
                                </div>

                            </div>
                        </div>


                        
                        <div class="customer-information cus-profile__col-9 ">
                                <div class="customer-information__container">
                                    <div class="customer-information__title">
                                        Thông tin khách hàng 
                                        
                                    </div>
                                    <svg  class=" customer-information__retangle " width="729" height="1" viewBox="0 0 729 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="729" height="1" fill="#002144" fill-opacity="0.5"/>
                                    </svg>
                                    <div class="customer-information__form">
                                        <form action="/user/editprofile/<%= user._id %>" method="POST">
                                                <div class="customer-form__inputfied">
                                                    <label for="id">ID: </label>
                                                    <div class=" div_content customer-form__input-id"> 
                                                        <div class="customer-form__text"><%= user.Id %>  </div>
                                                    </div>
                                                </div>
                                                <div class="customer-form__inputfied">
                                                    <label for="name">Tên: </label>
                                                    <input class=" customer-form__input-name " type="text" name="name" id="customer-name" value=" <%= user.name %>" >
                                                </div>
                
                                                <div class="customer-form__inputfied">
                                                    <label for="email">Email:  </label>
                                                    <div class=" div_content  customer-form__input-email"> 
                                                        <div class="customer-form__text"> <%= user.email %>  </div>
                                                    </div>
                                                </div>
                                                <div class="customer-form__inputfied">
                                                    <label for="phone">SĐT: </label>
                                                    <input class=" customer-form__input-phone " type="text" name="phone" id="customer-phone" value=" <%= user.tel %>" >
                                                </div>

                                                <div class="customer-form__inputfied">
                                                    <label for="identity">CCCD:  </label>
                                                    <div class=" div_content   customer-form__input-identity "> 
                                                        <div class="customer-form__text"> <%= user.identity %> </div>
                                                    </div>
                                                    
                
                                                    <label for="identity-img" style="padding-right: 0px;width: 40px;">Ảnh:</label>
                                                    <div class="div_content customer-form__input-identity-img">
                                                        <!-- <% if (user.avatar) { %>
                                                            <a href="<%= user.avatarUrl %>" target="_blank">Xem Avatar</a>
                                                        <% } else { %>
                                                            <div class="customer-form__text" style="opacity: 0.7;text-decoration: underline;">Chưa có ảnh</div>
                                                        <% } %> -->
                                                    </div>
                                                </div>
                                                <div class="customer-form__inputfied">
                                                    <label for="address">Địa chỉ: </label>
                                                    <input class=" customer-form__input-address " type="text" name="address" id="customer-address" value=" <%= user.address %> " >
                                                </div>
                                                <button class="edit__profile__btn">
                                                    Lưu hồ sơ 
                                                </button> 
                                    </form>
                                </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

       
    <!-- Footer -->
    <%- include('../partials/footer.ejs'); -%>

</div>
    

</body>
</html>