<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./public/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css_sprint4/css_lichsuthue/global.css" />
    <link rel="stylesheet" href="/css_sprint4/css_lichsuthue/index.css" />
    <link rel="stylesheet" href="/css_sprint4/css_lichsuthue/responsive.css">
    
  <title> Lịch sử thuê Board Game </title>
</head>
<body>
    <div class="app">
        
        <!-- Header -->
        <%- include('../partials/header_order_history.ejs'); -%>

       <div class="header-end"></div>
       <div class="container-section">
         <div class="cus-history">
            <div class="grid">
                <div class="grid__row">
                  
                    <!-- khung dieu huong  -->
                    <div class="navigation-left cus-profile__col-3">
                        <div class="navigation-left__container">
                            <div class="navigation-left__avatar">
                                <a href="/user/profile">
                                    <img class="navigation-left__avata__img" src="<%= user.avatarUrl %>" style="width: 45px; height: 50px; border-radius: 50%" alt="">
                                </a>
                                <div class="navigation-left__avatar__content">
                                    <a href="/user/profile">
                                        <div class="avatar__content__name"> <%= user.name %> </div>
                                    </a>
                                    <a href="/logout" class="avatar__content__logout">
                                        <img src="/assets/images/icon__logout.svg" alt="" class="edit-profile__icon-logout">                                     
                                      <span class="avatar__content__edit-profile__title"> Đăng xuất </span>
                                    </a> 
                                </div>
                                <svg class="navigation-left__retangle-end" width="272" height="2" viewBox="0 0 272 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="272" height="2" fill="#002144" fill-opacity="0.5"/>
                                    </svg>
                            </div>

                            <div class="navigation-left__function">
                                <a href="  " class="navigation-left__function-title">
                                <div class="function-title__icon-profile">
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path opacity="0.4" d="M15 30C23.2842 30 30 23.2843 30 15C30 6.71573 23.2842 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30Z" fill="#002144"/>
                                        <path d="M15 7.3949C11.895 7.3949 9.375 9.9149 9.375 13.0198C9.375 16.0648 11.76 18.5398 14.925 18.6298H15.06H15.165H15.195C18.225 18.5248 20.61 16.0648 20.625 13.0198C20.625 9.9149 18.105 7.3949 15 7.3949Z" fill="#002144"/>
                                        <path d="M25.1711 26.025C22.5011 28.485 18.9311 30 15.0011 30C11.0711 30 7.50106 28.485 4.83105 26.025C5.19105 24.66 6.16606 23.415 7.59106 22.455C11.6861 19.725 18.3461 19.725 22.4111 22.455C23.8511 23.415 24.8111 24.66 25.1711 26.025Z" fill="#002144"/>
                                        </svg>                                            
                                </div>
                                <div class="function-title "> Hồ sơ của tôi </div>
                            </a>
                                
                               <a href="" class="navigation-left__function-title">
                                <div class="function-title__icon-profile">
                                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 2H4.17501C5.52501 2 6.5875 3.1625 6.475 4.5L5.4375 16.95C5.2625 18.9875 6.87499 20.7375 8.92499 20.7375H22.2375C24.0375 20.7375 25.6125 19.2625 25.75 17.475L26.425 8.1C26.575 6.025 25 4.3375 22.9125 4.3375H6.77501" stroke="#002144" stroke-width="3.95719" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M19.8125 27C20.6755 27 21.375 26.3005 21.375 25.4375C21.375 24.5745 20.6755 23.875 19.8125 23.875C18.9495 23.875 18.25 24.5745 18.25 25.4375C18.25 26.3005 18.9495 27 19.8125 27Z" stroke="#002144" stroke-width="3.95719" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M9.8125 27C10.6755 27 11.375 26.3005 11.375 25.4375C11.375 24.5745 10.6755 23.875 9.8125 23.875C8.94955 23.875 8.25 24.5745 8.25 25.4375C8.25 26.3005 8.94955 27 9.8125 27Z" stroke="#002144" stroke-width="3.95719" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10.75 9.5H25.75" stroke="#002144" stroke-width="3.95719" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>                                           
                                </div>
                                <div class="function-title function-title__active"> Lịch sử thuê </div>
                               </a>
                            </div>

                        </div>
                    </div>
                    <div class="customer-history cus-profile__col-9">
                        <div class="customer-history__container">
                            <img src="/assets/images/customer-history__retangle-top.svg" alt="" class="customer-history__retangle-top">
                            <div class="info-oder__table-tile">
                                <div class="table-title__product-title  info-oder__col4 ">  Sản phẩm  </div>
                                    <div class="table-title__properties info-oder__col5 ">
                                    <div class="table-title__title-2 "> 
                                        <div class="table-title__title-2__head "> Ngày thuê  </div>
                                    </div>
                                    <div class="table-title__title-2 "> 
                                            <div class="table-title__title-2__head "> Thời gian thuê  </div>
                                            <div class="table-title__title-2__unit">( Ngày )</div>
                                    </div>
                                    <div class="table-title__title-2  "> 
                                        <div class="table-title__title-2__head">Số lượng </div>
                                        <div class="table-title__title-2__unit">( Cái )</div>
                                    </div>
                                    <div class="table-title__title-2 "> 
                                        <div class="table-title__title-2__head">Thành tiền</div>
                                        <div class="table-title__title-2__unit">( Vnđ ) </div>
                                    </div>
                                    <div class="table-title__title-2 "> 
                                        <div class="table-title__title-2__head">Trạng thái</div>
                                    </div>
                                </div>
                            </div>
                            <img src="/assets/images/customer-history__retangle-top2.svg" alt="" class="customer-history__retangle-top2">
                            <!--  1 item  -->
                            <% orders.forEach((order) => { %>
                                <div class="info-oder__item__flex-box">
                                    <div class="info-oder__item">
                                      <div class="info-oder__card info-oder__col4">
                                        <img src="<%= order.productImage %>" alt="" class="info-oder__card__img">
                                        <div class="info-oder__card__title"><%= order.productName %></div>
                                        <div class="info-oder__card__quantity">ID đơn hàng: 
                                            <div class="id-oder"> H21387hag</div>
                                        </div>
                                      </div>
                                      <div class="info-oder__properties info-oder__col5">
                                        <div class="info-oder__colum-1 oder__time">
                                            Thu Jul 20 2023 06:05:01 GMT+0700 (Indochina Time)
                                          </div>
                                        <div class="info-oder__colum-1 quantity-btn__rental-time">
                                          <div class="rental-time__value quantity-btn"><%= order.duration %></div>
                                        </div>
                                        <div class="info-oder__colum-1 quantity-btn__quantity">
                                          <div class="quantity__value quantity-btn"><%= order.quantity %></div>
                                        </div>
                                        <div class="info-oder__colum-1 quantity-btn__cost">
                                          <%= order.productPrice %>
                                        </div>
                                        <div class="info-oder__colum-1 quantity-btn__total">
                                          <%= order.totalPrice %>
                                        </div>
                                        <% let orderStatus = '';
                                        switch(order.orderStatus) {
                                            case 1: orderStatus = 'Chưa thanh toán'; break;
                                            case 2: orderStatus = 'Đang thuê'; break;
                                            case 3: orderStatus = 'Đến hạn trả'; break;
                                            case 4: orderStatus = 'Đã trả'; break;
                                        } %>
                                        <div class="info-oder__colum-1 quantity-btn__status">
                                        <%= orderStatus %>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            <% }); %>
            
                             <!-- Phân trang -->
                            <div class="pagination">
                                <% for (let i = 1; i <= totalPages; i++) { %>
                                    <a href="/user/orderhistory?page=<%= i %>" class="<%= currentPage == i ? 'active' : '' %>">
                                        <%= i %>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
         </div>



       </div>

       <!--  footer  -->
       <%- include('../partials/footer.ejs'); -%>
</div>
    

</body>
</html>