<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css_sprint1/global.css" />
    <link rel="stylesheet" href="css_sprint1/index.css" />
    <link rel="stylesheet" href="css_sprint1/responsive.css">
    <title>Cửa hàng</title>

</head>
<body>
    <div class="app">
        
       <!-- Header -->
        <%- include('../partials/header_store.ejs'); -%>

      <!-- thanh cong cu loc  -->
      <div class="sort-section">
        <div class="grid ">
            <div class="grid_row sort-section__content ">

                <a href="https://courses.uit.edu.vn/login/index.php" class="  sort-section__name  sort-section__name--active"> Board Game</a>
               
                <a href="https://courses.uit.edu.vn/login/index.php " class="sort-section__name  ">Mới Nhất </a>
                <a href="https://courses.uit.edu.vn/login/index.php " class="sort-section__name "> Phổ Biến</a>

            </div>
        </div>
    </div>
    
    <div class="container-section">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__colum-2">
                    <div class="filter-category">
                        <div class="filter-title">
                            <div class="filter-name filter-name-col-1">Filter</div>
                            <div class="reset filter-name-col-2">reset</div>
                                
                        </div>
                        <svg class="retangle-filter" width="230" height="2" viewBox="0 0 230 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="230" height="2" fill="#002144"/>
                            </svg>
                            
                        <div class="filter-title">
                            <div class="playingtime filter-name-col-1">Playing time</div>
                            <div class="rectangle-playingtime-1 filter-name-col-2"></div>
                        </div>
                        <div class="filter-playingtime-content">
                            <div class="filter-playingtime-content-line">
                                <div class="minutes filter-name-col-1">15 minutes or less</div>
                                <div class="minutes filter-name-col-1">30 minutes or less</div>
                                <div class="minutes filter-name-col-1">40 minutes or less</div>
                                <div class="minutes filter-name-col-1">60 minutes or less</div>
                                <div class="minutes filter-name-col-1">90 minutes or less</div>
                            </div>    
                        </div>    
                        <svg width="196" height="9" viewBox="0 0 196 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_263_819)">
                            <line x1="4" y1="0.5" x2="192" y2="0.5" stroke="black"/>
                            </g>
                            <defs>
                            <filter id="filter0_d_263_819" x="0" y="0" width="196" height="9" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_263_819"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_263_819" result="shape"/>
                            </filter>
                            </defs>
                            </svg>
                            
                        <div class="filter-title">
                            <div class="playerminium filter-name-col-1">Player-Minium</div>
                            <div class="rectangle-playingtime-2 filter-name-col-2"></div>
                        </div>
                        <div class="filter-number-content">
                            <div class="filter-numbers-content-line">
                                <div class="numbers filter-name-col-1">1(215)</div>
                                <div class="numbers filter-name-col-1">2(213)</div>
                                <div class="numbers filter-name-col-1">4(217)</div>
                            </div>    
                        </div> 
                        <svg width="196" height="9" viewBox="0 0 196 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_263_819)">
                            <line x1="4" y1="0.5" x2="192" y2="0.5" stroke="black"/>
                            </g>
                            <defs>
                            <filter id="filter0_d_263_819" x="0" y="0" width="196" height="9" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_263_819"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_263_819" result="shape"/>
                            </filter>
                            </defs>
                            </svg>
                            
                        <div class="filter-title">
                            <div class="playermaximum filter-name-col-1">Player-Maximum</div>
                            <div class="rectangle-playingtime-3 filter-name-col-2"></div>
                        </div>
                        <div class="filter-maxnumber-content">
                            <div class="filter-maxnumber-content-line">
                                <div class="numbers filter-name-col-1">3(215)</div>
                                <div class="numbers filter-name-col-1">6(213)</div>
                                <div class="numbers filter-name-col-1">12(217)</div>
                                <div class="numbers filter-name-col-1">15(213)</div>
                                <div class="numbers filter-name-col-1">18(120)</div>
                            </div>    
                        </div> 
                        <svg width="196" height="9" viewBox="0 0 196 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_263_819)">
                            <line x1="4" y1="0.5" x2="192" y2="0.5" stroke="black"/>
                            </g>
                            <defs>
                            <filter id="filter0_d_263_819" x="0" y="0" width="196" height="9" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_263_819"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_263_819" result="shape"/>
                            </filter>
                            </defs>
                            </svg>
                            
                        <div class="filter-title">
                            <div class="budget filter-name-col-1">Budget</div>
                            <div class="rectangle-playingtime-4 filter-name-col-2"></div>
                        </div>
                        <div class="filter-budget-content">
                            <div class="filter-budget-content-line">
                                <div class="budget-filter filter-name-col-1">Thấp đến cao</div>
                                <div class="budget-filter filter-name-col-1">Cao đến thấp</div>
                            </div>    
                        </div> 
                        <svg width="196" height="9" viewBox="0 0 196 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_263_819)">
                            <line x1="4" y1="0.5" x2="192" y2="0.5" stroke="black"/>
                            </g>
                            <defs>
                            <filter id="filter0_d_263_819" x="0" y="0" width="196" height="9" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                            <feOffset dy="4"/>
                            <feGaussianBlur stdDeviation="2"/>
                            <feComposite in2="hardAlpha" operator="out"/>
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_263_819"/>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_263_819" result="shape"/>
                            </filter>
                            </defs>
                            </svg>
                            
                        <div class="filter-title">
                            <div class="age filter-name-col-1">Suggested Age</div>
                            <div class="rectangle-playingtime-5 filter-name-col-2"></div>
                        </div>
                        <div class="filter-age-content">
                           <div class="age-filter">
                            <div class="age-content">3+</div>
                           </div>
                           <div class="age-filter">
                            <div class="age-content">5+</div>
                           </div>
                           <div class="age-filter">
                            <div class="age-content">8+</div>
                           </div>
                           <div class="age-filter">
                            <div class="age-content">12+</div>
                           </div>
                           <div class="age-filter">
                            <div class="age-content">18+</div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class=" grid__colum-10">
                    <div class="tf-sort">
                        <b class="tf-sort__quantity" style=" margin-top: 10px; "> 1,230 Items</b>
                        <div class="tf-sort__layout">
                            <div class="layout__grid layout__grid--btn-primary">
                                <img class="tf-sort__layout__icon  " alt="" src="assets/images/-icon-grid-2.svg" />
                                <b class=" layout__content ">Grid</b>
                            </div>
                            <div class="layout__line">
                                 <img class="tf-sort__layout__icon  " alt="" src="assets/images/-icon-menu.svg" />
                        
                                <b class=" layout__content ">Line</b>
                            </div>
                            
                        </div>
                        <div class="filter-price">
                            <img class="tf-sort__layout__icon   " alt="" src="assets/images/-icon-filter.svg" />
                    
                            <b class=" layout__content "> Giá:</b>
                            <img class="tf-sort__layout__icon  " alt="" src="assets/images/-icon-arrow-down.svg" style="position: absolute;right: 2%;" />
                            <ul class="filter-price__list">
                                <li class="filter-price__list__item">
                                    <a href="# " class="filter-price__link"> Giá: Thấp đến cao </a>
                                    
                                </li>
                                <li class="filter-price__list__item">
                                    <a href="# " class="filter-price__link"> Giá: Cao đến thấp </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <!--  San pham tong/ hiện 5 hàng sản phẩm, mỗi hàng 4 sp    -->

                    <div class="product-section grid__row">
                        <!-- San pham -->
                        <% boardgames.forEach((boardgame) => { %>
                        <div class="product-section__item-shop col-4">
                            <div class="item-shop__favourite">
                                <div class="item-shop__favourite__content">
                                    <img src="/assets/images/-icon-heart1.svg" alt="" class="item-shop__icon-heart">
                                    <b class="item-shop__likes">99</b>
                                </div>
                            </div>
                            <a href="store/<%= boardgame._id %>">
                                <img src="<%= boardgame.image %>" alt="<%= boardgame.name %>" class="item-shop__image-product">
                            </a>
                            <a href="store/<%= boardgame._id %>" class="item-shop__title-product"><%= boardgame.name %></a>
                            <div class="item-shop__rent">
                                <b class="item-shop__rent__title">Giá Thuê</b>
                                <b class="item-shop__rent__cost"><%= boardgame.price %></b>
                            </div>
                        
                            <div class="item-shop__rent-btn">
                                <b class="item-shop__rent-btn__title">Thuê ngay</b>
                            </div>
                        </div>
                        <% }) %>
                      
                        <!-- Phân trang -->
                        <div class="pagination">
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <a href="/store?page=<%= i %>" class="<%= currentPage == i ? 'active' : '' %>">
                                    <%= i %>
                                </a>
                            <% } %>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    
    <!-- Footer -->
    <%- include('../partials/footer.ejs'); -%>
</div>
    

</body>
</html>
