<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="css_sprint1/global.css" />
    <link rel="stylesheet" href="css_sprint1/index.css" />
    <link rel="stylesheet" href="css_sprint1/responsive.css">
    <title>Cửa hàng</title>

</head>
<body>
    <div class="app">
        
       <!-- Header -->
        <%- include('../partials/header.ejs'); -%>

      <!-- thanh cong cu loc  -->
      <div class="sort-section">
        <div class="grid ">
            <div class="grid_row sort-section__content ">

                <a href="https://courses.uit.edu.vn/login/index.php" class="  sort-section__name  sort-section__name--active"> Board Game</a>
                <a href="https://courses.uit.edu.vn/login/index.php " class="sort-section__name  ">Mới Nhất </a>
                <a href="https://courses.uit.edu.vn/login/index.php " class="sort-section__name "> Phổ Biến</a>

            </div>
        </div>
    </div>
    
    <div class="container-section">
        <div class="grid">
            <div class="grid__row">
                <div class="grid__colum-2">
                    <div class="filter-category">
                        <img src="assets/images/filter-mo-hinh.svg" alt="" class="fiter-mo-hinh">

                    </div>
                </div>
                <div class=" grid__colum-10">
                    <div class="tf-sort">
                        <b class="tf-sort__quantity" style=" margin-top: 10px; "> 1,230 Items</b>
                        <div class="tf-sort__layout">
                            <div class="layout__grid layout__grid--btn-primary">
                                <img class="tf-sort__layout__icon  " alt="" src="assets/images/-icon-grid-2.svg" />
                                <b class=" layout__content ">Grid</b>
                            </div>
                            <div class="layout__line">
                                 <img class="tf-sort__layout__icon  " alt="" src="assets/images/-icon-menu.svg" />
                        
                                <b class=" layout__content ">Line</b>
                            </div>
                            
                        </div>
                        <div class="filter-price">
                            <img class="tf-sort__layout__icon   " alt="" src="assets/images/-icon-filter.svg" />
                    
                            <b class=" layout__content "> Giá:</b>
                            <img class="tf-sort__layout__icon  " alt="" src="assets/images/-icon-arrow-down.svg" style="position: absolute;right: 2%;" />
                            <ul class="filter-price__list">
                                <li class="filter-price__list__item">
                                    <a href="# " class="filter-price__link"> Giá: Thấp đến cao </a>
                                    
                                </li>
                                <li class="filter-price__list__item">
                                    <a href="# " class="filter-price__link"> Giá: Cao đến thấp </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <!--  San pham tong/ hiện 5 hàng sản phẩm, mỗi hàng 4 sp    -->

                    <div class="product-section grid__row">
                         <!--  San pham  -->
                         <% boardgames.forEach((boardgame) =>{ %>
                            <div class=" product-section__item-shop col-4">
                              <div class="item-shop__favourite">
                                  <div class="item-shop__favourite__content">
                                      <img src="/assets/images/-icon-heart1.svg" alt="" class="item-shop__icon-heart">
                                      <b class="item-shop__likes">99</b>
                                  </div>
                              </div>
                              <a href="store/<%= boardgame._id %>">
                                  <img src="<%= boardgame.image %>" alt=" <%= boardgame.name %> " class="item-shop__image-product">
                              </a>
                              <a href="store/<%= boardgame._id %>" class="item-shop__title-product"> <%= boardgame.name %>  </a>
                              <div class="item-shop__rent">
                                  <b class="item-shop__rent__title"> Giá Thuê</b>
                                  <b class="item-shop__rent__cost"><%= boardgame.price %></b>
                              </div>
                             
                              <div class="item-shop__rent-btn">
                                  <b class="item-shop__rent-btn__title">Thuê ngay</b>
                              </div>
                            </div>
                          <%}) %>

                        

                        <!-- Phân trang -->
                        <div class="pagination">
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <a href="#" class="product-section__page__number <%= currentPage === i ? 'product-section__page__number--active' : '' %>">
                                    <%= i %>
                                </a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- Footer -->
    <%- include('../partials/footer.ejs'); -%>
</div>
    

</body>
</html>
